body {
  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgba(239, 249, 249, 1) 0%,
    rgba(182, 199, 226, 1) 100.2%
  );
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
}
.App {
  min-height: 100vh;
}
.navbar-brand {
  color: #19376d;
}
.heading {
  color: #19376d;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
}
.sub-heading {
  color: #19376d;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  font-size: 19px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.heading {
  animation: fadeIn 1s ease-in-out forwards;
}
.sub-heading {
  animation: fadeIn 1s ease-in-out forwards;
}

input {
  width: 50%;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
input:focus {
  outline: 4px solid rgb(0, 0, 128, 0.4);
  border-radius: 10px;
}
.button {
  width: 130px;
  height: 70px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #333333;
  border-radius: 0 16px 16px 0;
  color: white;
  border: none;
  transition: all 0.2s;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
.button:hover {
  transition: all 0.2s;
  transform: scale(1.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  background-color: lightslategrey;
}
.summary-container {
  background-color: whitesmoke;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
}
.summary-container h1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  padding: 7px;
  margin-left: 15px;
}
.summary-container p {
  padding-top: 2rem;
}
.summary-container ul {
  list-style: disc;
}
.icon {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;

  margin-left: 15px;
}
.icon:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
.card {
  width: 300px;
  height: 300px;
  padding: 1rem;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  background-image: linear-gradient(
    180.3deg,
    rgba(214, 224, 255, 0.5) 37.2%,
    rgba(61, 136, 197, 0.4) 137.3%
  );
}
a h4,
a p {
  color: inherit;
  text-decoration: none;
}
.card:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
footer {
  position: relative;
  bottom: 0;
}
footer p {
  text-align: center;
}
@media all and (max-width: 800px) {
  .heading {
    font-weight: 25px;
  }
  .summary-container {
    width: 80%;
  }
  .sub-heading {
    font-size: 16px;
  }
  input {
    width: 70%;
  }
  .button {
    width: 100px;
  }
}
